body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
    position: absolute;
    top: 0;
    left: 0;
}

.txt {
    opacity:0;
}

#border {
    display: block;
    width: $banner-width;
    height: $banner-height;
    pointer-events: none;
    outline: solid 1px #ccc;
    outline-offset: -1px;
    z-index: 999;
}

#banner {
    background: #ccc;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #purina {
        top: 552px;
        left: 95px;
        transform-origin: top left;
        transform: scale(.5);
    }

    #hero {
        transform-origin: center;
        transform: scale(.5);
        top: -$banner-height/2;
        left: -$banner-width/2;
    }

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }
   
}
